<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <group groupName="FXM" name="FXM">
        <pipelines>
          <tracking.trackpagevisit>
            <processor type="Sitecore.Takeaway.FXMTools.Pipelines.Tracking.TrackPageVisit.TrackPageVisitProcessor, Sitecore.Takeaway.FXMTools" 
                       patch:after="processor[@type='Sitecore.FXM.Pipelines.Tracking.TrackPageVisit.TrackPageVisitProcessor, Sitecore.FXM']">
            </processor>
            <processor type="Sitecore.Takeaway.FXMTools.Pipelines.Tracking.TrackPageVisit.FixRequestUrlProcessor, Sitecore.Takeaway.FXMTools"
                       patch:after="processor[@type='Sitecore.FXM.Pipelines.Tracking.TrackPageVisit.FixRequestUrlProcessor, Sitecore.FXM']">
            </processor>
            <processor type="Sitecore.FXM.Pipelines.Tracking.TrackPageVisit.TrackPageVisitProcessor, Sitecore.FXM">
              <patch:delete />
            </processor>
            <processor type="Sitecore.FXM.Pipelines.Tracking.TrackPageVisit.FixRequestUrlProcessor, Sitecore.FXM">
              <patch:delete />
            </processor>
          </tracking.trackpagevisit>
          <tracking.triggerpageevent>
            <processor type="Sitecore.Takeaway.FXMTools.Pipelines.Tracking.BeforeEvent.EnsureCurrentPageIsTrackedProcessor, Sitecore.Takeaway.FXMTools"
                       patch:after="processor[@type='Sitecore.FXM.Pipelines.Tracking.BeforeEvent.EnsureCurrentPageIsTrackedProcessor, Sitecore.FXM']">
            </processor>
            <processor type="Sitecore.FXM.Pipelines.Tracking.BeforeEvent.EnsureCurrentPageIsTrackedProcessor, Sitecore.FXM">
              <patch:delete />
            </processor>
          </tracking.triggerpageevent>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>